# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
dbt_internal_packages/
dbt_project.yml
dbt_project.yml.lock
dbt_modules/
dbt_packages/
dbt_packages.yml
dbt_packages.yml.lock
*.DS_Store